#Aditi has used a text editing software to type some text. After saving the article as WORDS.TXT, she realised that she has wrongly typed alphabet J in place of alphabet I everywhere in the article.
Write a function definition for JTOI() in Python that would display the corrected version of entire content of the file WORDS.TXT with all the alphabets "J" to be displayed as an alphabet "I" on screen.
Note: Assuming that WORD.TXT does not contain any J alphabet otherwise.
Example:
If Aditi has stored the following content in the file WORDS.TXT:
WELL, THJS JS A WORD BY JTSELF. YOU COULD STRETCH THJS TO BE A SENTENCE
The function JTOI() should display the following content:
WELL, THIS IS A WORD BY ITSELF. YOU COULD STRETCH THIS TO BE A SENTENCE

In [59]:
file = open("E:/words.txt" ,"w")
file.write("WELL, THJS JS A WORD BY JTSELF. YOU COULD STRETCH THJS TO BE A SENTENCE")
print("all files have been generated")
file.close()

all files have been generated

In [58]:
def JTOI():
    file = open("E:/words.txt","r")
    data = file.read()
    for letter in data:
        if letter == 'J':
            print("I",end="")
        else:
            print(letter,end="")

    file.close()

JTOI()

WELL, THIS IS A WORD BY ITSELF. YOU COULD STRETCH THIS TO BE A SENTENCE

Write a function AMCount() in Python, which should read each character of a text file STORY.TXT, should count and display the occurance of alphabets A and M (including small cases a and m too).

For Example:

If the file content is as follows:

Updated information

As simplified by official websites.

The EUCount() function should display the output as:

A or a:4

M or m :2

In [25]:
file=open("E:/notes.txt","w")
file.write("I am Parikshit sharma")
print("all files")
file.close()

all files

In [26]:
def AMcount():
    file = open('E:/notes.txt','r')
    data = file.read()
    counta=0
    countm=0
    for letter in data:
        if letter == 'A' or letter =='a':
            counta += 1
        elif letter == 'M' or letter =='m':
            countm += 1

    file.close()
    print('A or a:',counta)
    print('M or m:',countm)

AMcount()

A or a: 4
M or m: 2

# Create a data frame using list and also elaborate categorical data in Panda.

In [1]:
import pandas as pd
import numpy as np
#simple list to D
li=[10,20,30,40]
d=pd.DataFrame(li)
d

    0
0  10
1  20
2  30
3  40

In [5]:
#list of list to Dataframe
li=[[10,20,30,40],[10,20,30,40],[10,20,30,40]]
d=pd.DataFrame(li)
d.columns=['a','b','c','d']
d

    a   b   c   d
0  10  20  30  40
1  10  20  30  40
2  10  20  30  40

In [9]:
#list of the dict to DataFrame
li=[{'aa':33,'bb':44},{'aa':93,'bb':441},{'aa':3,'bb':4}]
d=pd.DataFrame(li)
d

   aa   bb
0  33   44
1  93  441
2   3    4

In [11]:
#list of the tuple to DataFrame
li=[(2,'aa',55),(22,'gg',56),(45,'pp',67)]
d=pd.DataFrame(li)
d

    0   1   2
0   2  aa  55
1  22  gg  56
2  45  pp  67

In [16]:
import numpy as np
import pandas as pd
data = {'col1': [10, 20, 40, 50], 'col2': [30, 40, 50, 60]}
df1 = pd.DataFrame(data = data)
print ("df1 : \n", df1)
print("\n\ndf1 type :\n", df1.dtypes)

df1 :
    col1  col2
0    10    30
1    20    40
2    40    50
3    50    60


df1 type :
 col1    int64
col2    int64
dtype: object

In [19]:
# Converting dataframe to category
df2 = pd.DataFrame({'X': list('1245'), 'Y': list('8975')}, dtype ="category")
  
print ("df2 : \n", df2)
print("\n\ndf2 type :\n", df2.dtypes)
  
print ("\n\ndf2 column 0 :\n", df2['X'])
print ("\n\ndf2 column 1 :\n", df2['Y'])

df2 :
    X  Y
0  1  8
1  2  9
2  4  7
3  5  5


df2 type :
 X    category
Y    category
dtype: object


df2 column 0 :
 0    1
1    2
2    4
3    5
Name: X, dtype: category
Categories (4, object): [1, 2, 4, 5]


df2 column 1 :
 0    8
1    9
2    7
3    5
Name: Y, dtype: category
Categories (4, object): [5, 7, 8, 9]

In [21]:
# Conversion can be done using astype()
df3 = pd.DataFrame({'X': list('efgh'), 'Y': list('aebc')})
print ("\n\ndf3 : \n", df3)
print("\ndf3 type :\n", df3.dtypes)
  
df4 = df3.astype('category')
print ("\n\ndf4 type:\n", df4.dtypes)

df3 :
    X  Y
0  e  a
1  f  e
2  g  b
3  h  c

df3 type :
 X    object
Y    object
dtype: object


df4 type:
 X    category
Y    category
dtype: object

Write a function in Python to count uppercase character in a text file.

In [ ]:
upper=0
f=open('workfile1.txt','x')

f = open("workfile1.txt", "a")

f.write("yes SIR " )

f.write("I AM HERE" )

f=open("workfile1.txt", "r")

string=str(f.read())

print(string)

for i in range(0,len(string)):

     if(string[i]>='A' and string[i]<='Z'):

        upper+=1
print('Upper case letters are {} in this file ' .format(upper))

In [ ]:
def get_dist_scale(enteredVal):
    
    while True:
        try:
            enteredInt = int(enteredVal)
            assert (enteredInt <= int(9)), "Value greater than 9"
            assert (enteredInt >= int(1)), "Value less than 1"
            return enteredInt      
        except ValueError:
            print("Invalid Input, try again\n")
            enteredVal = input("Enter distance parameter: \n1: for Manhattan\n2: for Euclidean\n>=3: for Minkowski\n")
            get_dist_scale(enteredVal)
            
        except AssertionError:
            print("Value outside 1-9.\n")
            enteredVal = input("Enter distance parameter: \n1: for Manhattan\n2: for Euclidean\n>=3: for Minkowski\n")
            get_dist_scale(enteredVal)
            
enteredVal = input("Enter distance parameter: \n1: for Manhattan\n2: for Euclidean\n>=3: for Minkowski\n")

distanceType = get_dist_scale(enteredVal)

Enter distance parameter:
1: for Manhattan
2: for Euclidean
>=3: for Minkowski
15
Value outside 1-9.

Enter distance parameter:
1: for Manhattan
2: for Euclidean
>=3: for Minkowski
a
Invalid Input, try again

Enter distance parameter:
1: for Manhattan
2: for Euclidean
>=3: for Minkowski
5
Invalid Input, try again