In [2]:
#addres of the varible
n=9
id(n)

140704285631120

In [3]:
name='parikshit'
id(name)

2866431880368

In [8]:
a=5  #they both point same addres and have same box that that python is memory efficent
b=a
id(a)

140704285630992

In [9]:
#constant =not able to change its value
pi=3.14 #constant
r=1
area=pi*r*r
print(area)

3.14

In [12]:
#type()=type of varible
pi=3.14
type(pi)

float

In [13]:
a=9
type(a)

int

In [14]:
b='a'
type(b)

str

In [15]:
#data type in python
#none=not assigned with any value
#numeric int,float,complex,bool
#complex
n=6+9j
type(n)

complex

In [17]:
#float into int conversion
a=8.9
b=int(a)
type(b)

int

In [19]:
#int into float
a=5
b=float(a)
b

5.0

In [20]:
#normal into complex
k=9
c=complex(b,k)
c

(5+9j)

In [21]:
#bool =true and false
b=8
k=7
b<k

False

In [22]:
#convert true into number
int(True)

1

In [23]:
#convert false into number
int(False)

0

In [24]:
#sequence 
#1 list
l=[1,3,4,6,7]
type(l)

list

In [25]:
l=[1,3,4,6,7]
l

[1, 3, 4, 6, 7]

In [26]:
#set
s={1,6,89,678}
type(s)

set

In [27]:
s={1,6,89,678}
s

{1, 6, 89, 678}

In [28]:
#tuple =round breacket
a=(1,2,3)
type(a)

tuple

In [29]:
a=(1,2,3)
a

(1, 2, 3)

In [30]:
#string
str="parik"
type(str)

str

In [31]:
str="parik" #python have no char type
str

'parik'

In [34]:
#range
range(0,10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
#range with differce of two
set(range(1,20,2))

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

In [37]:
#maping or dictionary
d={'parikshit':'iphone SE','Rahul':'oneplus','khesha':'samsung'}
d.keys()

dict_keys(['parikshit', 'Rahul', 'khesha'])

In [38]:
d={'parikshit':'iphone SE','Rahul':'oneplus','khesha':'samsung'}
d.values()

dict_values(['iphone SE', 'oneplus', 'samsung'])

In [40]:
d={'parikshit':'iphone SE','Rahul':'oneplus','khesha':'samsung'}
d['Rahul']

'oneplus'

In [41]:
d={'parikshit':'iphone SE','Rahul':'oneplus','khesha':'samsung'}
d.get('parikshit')

'iphone SE'

In [46]:
#Operators in Python
#arithmetic operators
x=9
y=39
x+y

48

In [47]:
#increment
#increment value by 2
x=2
x+=2
x

4

In [48]:
#when increment by 17
x=90
x+=17
x

107

In [50]:
#decremenr by 2
x=98
x-=2
x

96

In [51]:
x=2
x*=3
x

6

In [52]:
(A,B)=(5,6)
(A,B)#assignment operator

(5, 6)

In [54]:
#Unary operators are those operators that require a single operand for computations
n=7
-n

-7

In [55]:
#RElational operator Comparison operators. They are used to compare the operands on either side and determine the relation between them.
a=90
b=87
a<b

False

In [56]:
a=6
b=8
a==b

False

In [59]:
a=89
b=90
a>=b

False

In [60]:
a=3
b=90
a!=b #not equal

True

In [61]:
#logical operators=are used on conditional statements 
#and,or,not
a=7
b=4
a<8 and b<7

True

In [62]:
#or= only condition is true
a<8 or b<2

True

In [67]:
#not
x=not x
x

False

In [68]:
#number system conversion
#binary,decimal,octal,hex decimal
#binary conversion
bin(25)

'0b11001'

In [69]:
#convert binary to dec
0b11001

25

In [70]:
#octal
oct(34)

'0o42'

In [71]:
#hexadecimal
hex(10)

'0xa'

In [72]:
0xf

15

In [2]:
#swap 2 variable in can not use third varible python
a=19
b=15
a=a+b
b=a-b
a=a-b
print(a)
print(b)

15
19

In [77]:
#swap
a=9
b=7
a,b=b,a
print(a)
print(b)

7
9

In [78]:
#swap by third varible
a=7
b=3
temp=a
a=b
b=temp
print(a)
print(b)

3
7

In [79]:
#import math function
#suare
import math
x=math.sqrt(45)
x

6.708203932499369

In [80]:
#floor function
import math
print(math.floor(5.6))#floor will give you low interger

5

In [82]:
#ceil
import math
print(math.ceil(2.4))#ceil will give you highest interger

3

In [83]:
#power
print(math.pow(3,6))

729.0

In [84]:
print(math.pi)

3.141592653589793

In [85]:
import math as m #alise
m.sqrt(657)

25.632011235952593